.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: calc(100vh - 64px);
}

.topcontainer {
    background-color: #FF7D4B;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topcontainer p {
    color: white;
    font-size: 60px;
    font-weight: 700;
}

.bottomcontainer {
    background-color: white;
    height: 75%;
}

.story {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25%;
}

.story p {
    font-size: 40px;
    font-weight: 700;
    text-align: justify;
}

.global {
    display: flex;
    height: 75%;
}

.loremcontainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

.loremcontainer p {
    margin-bottom: 30px;
}

.loremcontainer button {
    background-color: #7DA5FE;
    font-weight: 700;
    font-size: 20px;
    width: 200px;
    @apply h-12 rounded-lg hover:bg-blue-700;
}

.imagecontainer {
    width: 50%;
    display: flex;
    align-items: center;
    padding-left: 30px;
}