@use "@/styles/variables.scss" as v;

#HeaderSubMenu{

    box-shadow: 0px 1px 10px rgba(28, 201, 189, 0.29);

    @media screen and (min-width: 430px) {
        a:hover{
        transform: scale(1.03);
        font-weight: 600;
      }
      }

}

#HeaderDashboard{

  background: linear-gradient(90deg, #FE9261 0%, #FFFFFF 53.65%);  
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
    
    @media screen and (max-width: v.$dashboard-switch) {
      #toggleSideBar{
      display: none;
    }
      #toggleSideBarPhone{
      display:inline-block;
    }
    }
}

#SideBarDashboard{

      // box-shadow: 0px 24px 56px rgba(0, 0, 0, 0.16);
      // backdrop-filter: blur(28px);
      // border-radius: 0px 32px 32px 0px;

      > div {min-width: 80%; max-width: 85%;}

      .logoText{
        font-size: xx-large;
        color: #FF7D4B;
      }

      .divLiens > a > i, .dropdown-title > div > i{
        color: var(--orangeclair);
      }

      .divLiens a, .divLiens .dropdown-title{
        font-size: 0.9rem;
        font-weight: bold;
        margin: 4px 0px;
        padding: 5px 8px;
      }
      .divLiens a.homelink{
        margin: 8px 0px;
      }
      .divLiens a.sublink{
        padding-left: 30px; padding-top: 2px; padding-top: 2px;
      }

      a.active-link {
        color: white; border-radius: 7px;
        // background: linear-gradient(to right, var(--vertfonce2) , var(--vertclair2));
        background: linear-gradient(to right, var(--violet1) , var(--violet2));
      }

      a.active-link2 { //Les liens de la sidebar du dashboard
        color: var(--violet2);
        font-weight: bold;
      }

      @media screen and (min-width: 430px) {
        a:hover {
          transform: scale(1.05);
          font-weight: 600;
        }
      }

}

// #Dashboard{

  .maingrid {
    grid-template-columns: var(--sidebar-width) 1fr;
    grid-template-rows: var(--header-height) minmax(90vh, 1fr) minmax(
        30px,
        max-content
      );
  }
  .headergrid {
    grid-template-columns: var(--sidebar-width) 1fr;
    grid-template-rows: var(--header-height);
  }
  
  .maingrid-normal {
    grid-template-areas:
      "sidebar vide"
      "sidebar content"
      "sidebar footer";
  }
  .headergrid-normal {
    grid-template-areas: "vide header";
  }
  
  .maingrid-phone {
    /* Affichage sans la sidebar (lorsqu'on la masque ou que l'écran est petit) */
    grid-template-areas:
      "vide vide"
      "content content"
      "footer footer";
  }
  .headergrid-phone {
    /* Affichage sans la sidebar (lorsqu'on la masque ou que l'écran est petit) */
    grid-template-areas: "header header";
  }
  .typePhone .sideBarDashboard {
    width: var(--sidebar-width);
    height: 100vh;
  }
  
  .typeNormal .sideBarDashboard {
    grid-area: sidebar;
    height: 100vh;
    width: var(--sidebar-width);
  }
  .headerDashboard {
    grid-area: header;
  }
  .pageContent {
    grid-area: content;
  }
  .footerDashboard {
    grid-area: footer;
    background-color: var(--violet1);
  }
  
  @media screen and (max-width: v.$dashboard-switch) {
    .typeNormal .sideBarDashboard {
      display: none;
    }
    .typePhone .sideBarDashboard {
      display: flex;
    }
    .maingrid {
      @apply maingrid-phone;
    }
    .headergrid {
      @apply headergrid-phone;
    }
  }

// }

.bienvenue-card{
  box-shadow: 0px 2px 10px rgba(28, 201, 189, 0.63);
  border-radius: 10px;
}


#HomeCenter{

  .boxNumber{
    background: linear-gradient(99.51deg, rgba(224, 227, 249, 0.7) 5.43%, rgba(222, 225, 246, 0) 95.71%);

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 32px;

    height: 128px;
    p.text{
      font-size: 1.125rem; line-height: 1.125rem; margin-bottom: 8px;
    }
    span.lines{ display: block;
      font-size: 2.25rem; line-height: 2rem;
    }
  }
  
}

.pageContent.sideBarVisible{
  .boxNumber{
    width: 280px; min-width: 260px;

  @media screen and (max-width: 1200px) {
    width: 260px;
  }
  // @media screen and (max-width: 1130px) {
  //   width: 250px;
  // }
  // @media screen and (max-width: 1110px) {
  //   width: 240px;
  // }
  }

  @media screen and (max-width: 1160px) {
    #HomeCenter{
        flex-direction: column;
        .col1, .col11{flex-direction: row;}
        .col1{overflow-x: auto; gap: 24px;  padding: 20px 0px;}
        .col2{overflow-x: auto; padding-bottom: 20px;}
    }
  }

  #HomeCenter{
    .col2{
      .row1{
        @media screen and (min-width: 1220px) {
          gap: 48px !important;
        }
        @media screen and (min-width: 1280px) {
          gap: 70px !important;
        }
        @media screen and (min-width: 1330px) {
          gap: 100px !important;
        }
        @media screen and (min-width: 1360px) {
          gap: 130px !important;
        }
        @media screen and (min-width: 1400px) {
          gap: 160px !important;
        }
        @media screen and (min-width: 1440px) {
          gap: 190px !important;
        }
      }
    }
  }

}

.pageContent:not(.sideBarVisible){
  .boxNumber{
    width: 280px; min-width: 260px;
    @media screen and (max-width: 1000px) {
      width: 260px;
    }
  }

    @media screen and (max-width: 940px) {
      #HomeCenter{
          flex-direction: column;
          .col1, .col11{flex-direction: row;}
          .col1{overflow-x: auto; gap: 24px; padding: 20px 0px;}
          .col2{overflow-x: auto; padding-bottom: 20px;}
      }
    }

  #HomeCenter{
    .col2{
      .row1{
        @media screen and (min-width: 980px) {
          gap: 48px !important;
        }
        @media screen and (min-width: 1040px) {
          gap: 70px !important;
        }
        @media screen and (min-width: 1090px) {
          gap: 100px !important;
        }
        @media screen and (min-width: 1120px) {
          gap: 130px !important;
        }
        @media screen and (min-width: 1160px) {
          gap: 160px !important;
        }
        @media screen and (min-width: 1200px) {
          gap: 190px !important;
        }
      }
    }
  }
  
}

#DateCard{
  .boxDate{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    min-width: 8rem; min-height: 8rem;
  }
    
    @media screen and (min-width: 640px) {
      .date-card {
        // @apply mx-2 sm:mx-3 md:mx-5 rounded-md;
        @apply rounded-md;
      }
    }
    
    @media screen and (min-width: 800px) {
      .date-card {display: flex;}
      .date-card-phone {display: none;}
    }
    
    @media screen and (max-width: 800px) {
      .date-card {display: none;}
      .date-card-phone {display: flex;}
    }

}

@media screen and (min-width: v.$dashboard-switch) {
  div.sideBarVisible .date-card{max-width: calc(100vw - var(--sidebar-width) - 60px);}
  }

#RecentTrips{
  @media screen and (min-width: 640px) {
      // @apply mx-2 sm:mx-3 md:mx-5;
  }
  th, td {@apply md:py-4 py-3}
  @media screen and (max-width: 640px) {
  th.images, td.images{max-width: 100px;}
  .tableau{min-width: 420px;}
  }

}

#TripList, #VehicleList, #VehicleTypeList, #VehicleOptionList, #DriverList{
  .contenant {
    border-radius: 10px;
    box-shadow: 0px 1px 10px rgba(28, 201, 189, 0.29);
    margin-bottom: 50px;
    /* margin: auto; */
  }
  button {
    border-radius: 9px;
    padding: 8px 14px 8px 14px;
  }
  
}

@font-face {
  font-family: myPoppins;
  src: url('../assets/fonts/Poppins-Black.ttf');
}


#GenericModal{
  .container-infos{
    p{display: flex; place-items: center;}
    label{display: flex; place-items: center;}
    p, label, input, select{ height: 36px;}

    .input-large {height: 60px;}

    .select__value-container{
      height: 36px;
    }

    .select__value-container--is-multi{
      height: 60px; overflow: auto;
    }
  }

  .parent {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100vh;
    overflow: auto;
  }
  
  .parent, .haut{
    border-top-left-radius: 12px; border-top-right-radius: 12px;
  }
  .parent, .bas{
    border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;
  }
  
  @media screen and (min-width: v.$dashboard-switch) {
    .modale {
    width: 510px;
  }
  input, select{ width: 320px;}
  }
  
  @media screen and (max-width: v.$dashboard-switch) {
    .modale {
    width: 420px;
  }
  input, select{ width: 280px;}
  }
  
  @media screen and (max-width: 500px) {
    .modale {
    max-width: 90vw;
  }
  input, select{ max-width: 60vw;}
  }
  
  .btn-ok{
    width: 135px;
    // height: 34px;
    border-radius: 5px;
    }
  .btn-ok.disabled{
    background-color: gray;
    }
  .btn-cancel{
    width: 100px;
    // height: 34px;
    color: #EA5455;
    border: 1px solid #EA5455;
    border-radius: 5px;
  }
  .modal-fade-enter,
  .modal-fade-leave-to {
    opacity: 0;
  }
  
  .modal-fade-enter-active,
  .modal-fade-leave-active {
    transition: opacity 0.5s ease;
  }
  .bloc-modale {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .overlay {
    background-color: #000000da;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .modale {
    background: white;
    color: #333;
    border-radius: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.14);
  }
  
}

#DeleteModal{

  .parent {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .btn-ok{
    width: 135px;
    // height: 34px;
    background: var(--violet1);
    border-radius: 5px;
    }
  .btn-cancel{
    width: 100px;
    // height: 34px;
    color: #EA5455;
    border: 1px solid #EA5455;
    border-radius: 5px;
  }
  .modal-fade-enter,
  .modal-fade-leave-to {
    opacity: 0;
  }
  
  .modal-fade-enter-active,
  .modal-fade-leave-active {
    transition: opacity 0.5s ease;
  }
  .bloc-modale {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .overlay {
    background-color: #000000da;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .modale {
    background: white;
    color: #333;
    min-height: 200px;
    max-width: 100vw;
    border-radius: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.14);
  }
  
  .btn-modale {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
