.sFtitle{
    display: flex;
    width: 320px;
    padding: 10px 0px 10px 35px;
    position: relative;
    
}
.sFtitle p:first-child{
    font-size: 20px;
    font-weight: bold;
    color: #353755;
}
.sFtitle p:last-child{
    position: absolute;
    right: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #FF7D4B;
    cursor: pointer;
}
.sFilter{
    background: white;
    border-radius: 10px;
    width: 320px;
    height: 500px;
    padding: 30px 40px;
    box-shadow: 0 0 10px -2px #0000004a;
}
.sFilterRow{
    display: flex;
    height: 50px;
    align-items: center;
}
.sFilterRow label{
    font-size: 13px;
    font-weight: bold;
    width: 230px;
}
.sFilterRow input{
    width: 17px;
    height: 17px;
    cursor: pointer;
    accent-color: #EE5D26;
}

@media screen and (max-width: 980px) {

    .sFilter{
        margin: auto;
        width: 95%;
        max-width: 550px;
        height: auto;
        margin-bottom: 40px;
    }
    .sFtitle{
        margin: auto;
        width: 95%;
        max-width: 550px;
    }
    .sFilterRow label{
        flex-grow: 1;
    }
    
}