.renseignement-logo{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    width: 100%;
    padding: 20px 10%;
}

.renseignement{
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

.logo-renseignement{
    background-image: url("../asset/Img/image-letshome.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 350px;
    display: block;
    width: 350px;
    height: 200px;
    background-color: transparent;
    border-radius: 10px;
}

.page-logo{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    padding: 10px;
}

.logo-page{
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: transparent;
    background-color: black;
}

.page{
    background-color: transparent;
    color: white;
}

.downl-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background-color: orange;
    padding: 20px;
    white-space: nowrap;
    color: white;
    font-weight: 600;
    border-radius: 10px;
}

.copyright{
    background-color: transparent;
    color: white;
}

@media screen and (min-width: 100px) and (max-width: 640px) {
    .renseignement-logo{
        flex-direction: column;
        align-items: center;
    }
    .logo-renseignement{
        background-size: 200px;
        width: 200px;
        height: 150px;
    }
}

