@font-face {
    font-family: 'Poppins';
    src: url('/images/main/Poppins-Regular.ttf') format('truetype');
}

.footer {
    width: 100%;
    background-color: #2D3A96;
    padding-left: 100px;
    padding-top: 25px;
    padding-bottom: 35px;
    position: relative;
}

.footer_links {
    display: flex;
}

.links {
    display: flex;
    flex-direction: column;
}

.links1 {
    display: flex;
    flex-direction: column;
    margin-left: 90px;
}

.link {
    color: white;
    @apply mb-3;
    font-family: 'Poppins';
}

.link1 {
    color: white;
    @apply mb-5;
    font-family: 'Poppins';
}

.line {
    margin-bottom: 20px;
    width: 45px;
    border: 3px solid #FE9261;
}

.line1 {
    border-left: 1px solid #FE9261;
    margin-left: 10px;
    margin-right: 10px;
    height: 15px;
    opacity: 0.5;
}

.footer_title {
    font-weight: 600;
    color: white;
    font-family: 'Poppins';
}

.contacts {
    display: flex;
    align-items: center;
}

.formulaire {
    width: 350px;
    height: 450px;
    background-color: white;
    position: absolute;
    bottom: 40px;
    right: 200px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.2), 0 -2px 4px 2px rgb(0 0 0 / 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.formulaire p {
    font-family: 'Poppins';
}

.inputtext {
    width: 70%;
    height: 30px;
    background-color: white;
    color: black;
    font-size: 14px;
    border: none;
    outline: none;
    border-bottom: 1px solid #B7B7B7;
    margin-bottom: 25px;
}

.textarea {
    width: 70%;
    height: 100px;
    background-color: white;
    color: black;
    font-size: 14px;
    border: none;
    outline: none;
    border-bottom: 1px solid #B7B7B7;
    margin-bottom: 45px;
}

.submit_button {
    width: 120px;
    height: 40px;
    font-weight: 600;
    background-color: #FE9261;
    color: white;
    font-family: 'Poppins';
}


.reviewcontainer {
    margin-bottom: 150px;
}

.review {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.reviewtitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviewtitle p{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Poppins';
    margin-left: 40px;
    margin-right: 40px;
}

.rvahcontainer {
    display: flex;
    justify-content: center;
    position: relative;
}

.rvahcontainer1 {
    width: 83%;
}

.divrva {
    display: flex;
    justify-content: space-between;
    height: 300px;  
}

.divr {
    width: 30%;
    border-radius: 10px;
    background-color: #2D3A96;
    display: flex;
    align-items: center;
    padding-left: 30px;
    position: relative;
    overflow: hidden;
}

.divr .text {
    font-weight: 700;
    font-size: 26px;
    line-height: 54px;
    color: white;
    font-family: 'Poppins';
    z-index: 999;
}

.divh {
    height: 200px;
    margin-top: 50px;
    background-color: #2D3A96;
    margin-bottom: 150px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.divh .text {
    font-weight: 700;
    font-size: 26px;
    line-height: 54px;
    color: white;
    font-family: 'Poppins';
    z-index: 999;
}

.Hsymbole {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 200px;
    line-height: 441px;
    position: absolute;
    opacity: 0.3;
    top: -100px;
}

.Rsymbole {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 200px;
    line-height: 441px;
    position: absolute;
    opacity: 0.3;
    left: -30px;
    top: -140px;
}

.Vsymbole {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 200px;
    line-height: 441px;
    position: absolute;
    opacity: 0.3;
    left: -40px;
    top: -140px;
}

.Asymbole {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 200px;
    line-height: 441px;
    position: absolute;
    opacity: 0.3;
    left: -40px;
    top: -140px;
}

.crosscontainer {
    position: absolute;
    background-image: url('/images/main/images/main/backgroundimage1.svg');
    background-size: cover;
    height: 80px;
    width: 100%;
    top: 100px;
}

.letsgoreason {
    height: 300px;
    position: relative;
    margin-top: 150px;
}

.letsgoreason p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 124px;
    margin-left: 200px;
}

.around {
    position: absolute;
    right: 0;
    bottom: 0;
}

.around1 {
    position: absolute;
    right: 0;
    bottom: 50px;
}

.blueellipse {
    position: absolute;
    top: -180px;
    left: 100px;
}

.pinkellipse {
    position: absolute;
    top: -160px;
    left: 75px;
}

.mostfrequentlyvisited {
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.backgroundimage2 {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.mostfrequentlycontent {
    height: 100%;
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

.frequentlyvisitedtitle {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 30px;
}

.frequentlyvisitedtitle p{
    font-size: 30px;
    font-weight: 700;
    font-family: 'Poppins';
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
}

.ourapp {
    height: 250px;
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.googlelink {
    text-decoration: none;
    width: 200px;
    height: 60px;
    border-radius: 10px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.5), 0 -2px 4px 2px rgb(0 0 0 / 0.5);
    margin-left: 60px;
    margin-right: 60px;
}

.googlelink .getin {
    color: white;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Poppins';
    margin-bottom: -5px;
}

.googlelink .play {
    color: white;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins';
}

.googlelink .google {
    margin-right: 10px;
}

.googlelink .google1 {
    margin-right: 10px;
}

 /* Nous sommes ici */
.topcontainer {
    background: linear-gradient(0deg, rgba(45, 58, 150, 0) 0%, rgba(45, 58, 150, 0.9492) 94.92%, #2D3A96 100%), url('/images/main/images/main/womanincar1.png');
    background-size: cover;
    background-position: center;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 40px;
    padding-bottom: 50px;
}

.thetop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainnav .mynav{
    display: flex;
}

.mainnav .mynav li {
    list-style-type: none;
    margin-left: 25px;
    margin-right: 25px;
}

.mainnav .mynav li .link {
    text-decoration: none;
    color: white;
    font-family: 'Poppins';
}

.textcontainer {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.text {
    font-family: 'Poppins';
    font-size: 54px;
    font-style: italic;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
}

.searchbarcontainer {
    display: flex;
    justify-content: center;
}

.searchbar {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.25), 0 -2px 4px 2px rgb(0 0 0 / 0.25);
}

.destination {
    font-family: Poppins;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: #B7B7B7;
    border: none;
    outline: none;
    width: 200px;
}

.destination1 {
    font-family: Poppins;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    border: none;
    outline: none;
    width: 200px;
}

.line1 {
    height: 60%;
    background-color: #B7B7B7;
    border-right: 1px solid #B7B7B7;
    width: 1px;
    margin-left: 30px;
    margin-right: 30px;
}



.wishcontainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.wish {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.25), 0 -2px 4px 2px rgb(0 0 0 / 0.25);
}

.wishtext {
    font-family: 'Poppins';
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    margin-right: 5px;
}

.wishtext1 {
    font-family: 'Poppins';
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    color: #FE9261;
}

.loginbutton {
    background-color: #FE9261;
    @apply text-white hover:bg-orange-600 focus:ring-4 focus:outline-none focus:ring-orange-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
}

.searchbutton {
    background-color: #FE9261;
    @apply text-white hover:bg-orange-600 focus:ring-4 focus:outline-none focus:ring-orange-300 font-medium rounded-lg text-sm px-10 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
}

.wish .line {
    height: 70%;
    background-color: none;
    border-right: 1px solid #FE9261;
    width: 1px;
    margin-left: 70px;
    margin-top: 20px;
}

