@use "@/styles/variables.scss" as v;

main.mainlayout{
    padding-top: v.$navbar-height;

    div.homediv{
        position: relative;
        top: -(v.$navbar-height);
    }

    .react-datepicker-wrapper{
        opacity: 0; position: absolute; top: 100px;
    }
    .react-datepicker-popper{
        transform: none !important;
        inset: 60px auto auto 0px !important;
    }

    .searchbar-container .input-container{ /* Pour la Searchbar de la page search */
        border: 1px solid black;
      }

    @media screen and (max-width: v.$navbar-switch) {
        padding-top: v.$navbar-mobile-height;

        div.homediv{
            top: -(v.$navbar-mobile-height);
        }

        .react-datepicker-popper{
            inset: 50px auto auto 0px !important;
        }
    }

}