.star{
    width: 20.86px;
    height: 21.2px;
}

.location{
    width: 27.37px;
    height: 27.37px;
}

.pin_drop{
    width:23.03px;
    height: 42.15px;
}

.user_icon{
    width:44.54px;
    height: 30.2px;
}
.open{
    width:256px !important;
    height: 100% !important;
    opacity: 1 !important;
}