.sSearchPage{
    width: 100%;
    background: #E8F9F8;
    min-width: min-content;
}
.mainContent{
    width: 95%;
    max-width: 1000px;
    margin: auto;
}
.sContent{
    display: flex;
    margin-top: 25px;
}
.searchContent{
    padding-top: 40px;
    height: 130px;
    background: #e8f9f8;
    position: sticky;
    top: 0;
    z-index: 1;
}
.filterBloc{
    height: max-content;
    position: sticky;
    top: 180px;
}

.sLeftContent{
    margin-left: 50px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    flex-grow: 1;

}
.sLeftContentDesc{
    width: 550px;
    margin-bottom: 30px;
}
.sLeftContentDesc p:nth-child(1){
    font-size: 20px;
    font-weight: bold;
    color: #FF7D4B;
    padding-bottom: 5px;
}
.sLeftContentDesc p:nth-child(2){
    font-size: 20px;
    font-weight: bold;
    color: #6f6d6d;
    padding-bottom: 5px;
}
.sLeftContentDesc p:nth-child(3){
    font-size: 13px;
    font-weight: bold;
    color: #6f6d6d;
}
@media screen and (max-width: 980px) {
    .searchContent{
        height: auto;
        padding: 40px 0;
    }
    .mainContent{
        width: auto;
    }
    .sLeftContent{
        margin: 0;
        align-items: center;
    }
    .sContent{
        flex-direction: column;
    }
    .filterBloc{
        position: static;
    }
    .sLeftContentDesc{
        width: 95%;
        max-width: 550px;
    }
}