.sSearchPage{
    width: 100%;
    background: #E8F9F8;
}
.mainContent{
    @apply flex justify-center w-full;
}
.sContent{
    width: 80%;
    display: flex;
    margin-top: 65px;
}
.sFtitle{
    display: flex;
    width: 320px;
    padding: 10px 0px 10px 35px;
    position: relative;
    
}
.sFtitle p:first-child{
    font-size: 20px;
    font-weight: bold;
    color: #353755;
}
.sFtitle p:last-child{
    position: absolute;
    right: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #FF7D4B;
}
.sLeftContent{
    margin-left: 50px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    flex-grow: 1;

}
.sLeftContentDesc{
    width: 550px;
    margin-bottom: 30px;
}
.sLeftContentDesc p:nth-child(1){
    font-size: 20px;
    font-weight: bold;
    color: #FF7D4B;
    padding-bottom: 5px;
}
.sLeftContentDesc p:nth-child(2){
    font-size: 20px;
    font-weight: bold;
    color: #6f6d6d;
    padding-bottom: 5px;
}
.sLeftContentDesc p:nth-child(3){
    font-size: 13px;
    font-weight: bold;
    color: #6f6d6d;
}
