@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}
.text-gray{
    color: #5A5A5A;
}
.text-indigo{
    color: #007D74;
}
.bg-orange{
    background-color: #F7CB29;
}
.bg-indigo-dark{
    background-color: #015B52;
}
.bg-indigo{
    background-color: #007D74;
}
.bg-indigo-light{
    background-color: #1CC9BD;
}
.m-auto{
    margin:auto;
}
.circle-xxl , .circle-xl , .circle-lg , .circle-md , .circle-sm{
    display: block;
    border-radius: 50%;
}
.circle-xxl{
    width: 34px;
    height: 34px;
}
.circle-xl{
    width: 26px;
    height: 26px;
}
.circle-lg{
    width: 20px;
    height: 20px;
}
.circle-md{
    width: 12px;
    height: 12px;
}
.circle-sm{
    width: 8px;
    height: 8px;
}
.m-text-small {
    @apply text-base;
    @apply md:text-sm;
}
.m-text-normal {
    @apply text-sm;
    @apply md:text-base;
}
  
.m-text-bigger-normal {
    @apply text-sm;
    @apply md:text-base;
    @apply lg:text-lg;
}

.m-text-big {
    @apply text-base;
    @apply md:text-lg;
}

.m-text-bigger-big {
    @apply text-base;
    @apply md:text-lg;
    @apply lg:text-xl;
}

.m-text-bigger {
    @apply text-lg;
    @apply md:text-xl
}

.m-text-biggest {
    @apply text-lg;
    @apply md:text-2xl;
}

.m-text-extra-bigger {
    @apply text-xl;
    @apply md:text-3xl;
    @apply lg:text-4xl;
}
.error_input {
    border: 2px solid rgb(196, 15, 15);
}

.error {
    color: rgb(196, 15, 15);
    font-weight: 500;
    font-size: 12px;
}
