
:root {
  --vertbleu: #007D74;
  --beige: #FFF0D6;
  --grisbleu: #E8F9F8;
  --grisbleu2: #E6FFFE;
  --vertfonce: #148B77;
  --vertfonce2: #188E78;
  --vertsombre: #054752;
  --vertclair: #74CD86;
  --vertclair2: #6AC684;
  --vert: #13D65B;
  --orange: #FB521D;
  --orange2: #FF8000;

  --orangeclair: #FE9261;
  --grisclair: #F9F9F9;
  --violet: #8B5CF6;
  --violetsombre: #40237A;
  --violet1: #2D3A96;
  --violet2: #5438CD;
  --bleuclair: #4285F4;
  --vert2: #296E3B;

  --sidebar-width: 240px;  /* La largeur de la sidebar du dashboard */
  --header-height: 60px;  /* La hauteur du header du dashboard */
}

body {
  background-color: #FEFEFE;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hide {
  display: none;
}

.bg-vertbleu {
  background-color: var(--vertbleu);
}

.bg-violet1 {
  background-color: var(--violet1);
}

.bg-grisclair {
  background-color: var(--grisclair);
}

.bg-orange {
  background-color: var(--orange);
}

.bg-orangeclair {
  background-color: var(--orangeclair);
}

.text-bleuclair{
  color: var(--bleuclair);
}

.text-vert2{
  color: var(--vert2);
}

.text-vertbleu {
  color: var(--vertbleu);
}

.text-orange {
  color: var(--orange);
}

.text-orangeclair {
  color: var(--orangeclair);
}

.text-vert {
  color: var(--vert);
}

.text-violetsombre {
  color: var(--violetsombre);
}

.text-violet1 {
  color: var(--violet1);
}

.border-vertbleu {
  border-color: var(--vertbleu);
}

.border-orange {
  border-color: var(--orange); border-bottom-width: 2px;
}

.border-violet1 {
  border-color: var(--violet1); border-bottom-width: 2px;
}

.border-violetsombre {
  border-color: var(--violetsombre);
}

.bg-beige {
  background-color: var(--beige);
}

.text-beige {
  color: var(--beige);
}

.bg-grisbleu {
  background-color: var(--grisbleu);
}

.text-grisbleu {
  color: var(--grisbleu);
}

.gradient-vert {
  background: linear-gradient(to right, var(--vertfonce), var(--vertclair));
}

.gradient-orange{
  background: linear-gradient(to right, var(--orange), var(--orange2));
}

.gradient-vert2 {
  background: linear-gradient(to right, var(--vertfonce2), var(--vertclair2));
}

.gradient-orange-vert {
  background: linear-gradient(to right, var(--orange), var(--vertclair));
}

.gradient-orange-violet {
  background: linear-gradient(to right, var(--orange), var(--violetsombre));
}

.gradient-vert-orange {
  background: linear-gradient(to right, var(--vertsombre), var(--orange));
}

.gradient-vertclair-orange {
  background: linear-gradient(to right, var(--vert), var(--orange));
}

.gradient-violet-orange {
  background: linear-gradient(to right, var(--violet), var(--orange));
}

.gradient-violetsombre-orange {
  background: linear-gradient(to right, var(--violetsombre), var(--orange));
}

.gradient-violet {
  // background: linear-gradient(to right, var(--violet1), var(--violet2));
  background: linear-gradient(270deg, #5438CD 0%, #2D3A96 65.3%);
}

.cercle {
  border-radius: 50%;
}

input[type="checkbox"] {
  accent-color: var(--vertbleu);
}

@media screen and (max-width: 800px) {
  .nonPermanent2 {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .nonPermanent {
    display: none;
  }
}

/* Styles spécifiques au dashboard */

//A appliquer sur le contenu de la zone centrale du dashboard
.dashboard-content-margin {
  /* gère la marge gauche et droite du header et du contenu central du dashboard*/
  @apply mx-2 sm:mx-3 md:mx-5;
}

//A appliquer sur le contenant de la zone centrale du dashboard
.dashboard-content-layout-padding { //On applique soit cette propriété, soit la précédente. MAIS PAS LES DEUX A LA FOIS
  /* gère la marge gauche et droite du header et du contenu central du dashboard*/
  @apply px-2 sm:px-3 md:px-5;
}


/* Transitions lors d'un changement de route */
.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

/* Transitions d'apparition/disparition d'éléments */
.slide-enter-active,
.slide-leave-active {
  transition: all 1s ease;
}

.slide-enter,
.slide-leave-active {
  transform: translateX(-300px);
  opacity: 0;
}