.navbar {
    border-radius: 15px;
    box-shadow: 0px 30px 70px 0px rgba(0, 0, 0, 0.2);
    width: 100%;
    margin-top: 20px;
}

.navbar nav {
    display: flex;
    align-items: center;
}

.navbar .name{
    display: flex;
    align-items: center;
    position: relative;
    left: 500px;
}

.navbar div {
    padding-left: 30px;
}