.menus > li {
  padding: 0.7rem 0.45rem;
  @media (min-width: 992px) {
    padding: 1.5rem 0.75rem;
  }
}
.menu-items {
  position: relative;
  padding: 0.75rem 1rem;
}
.my-dropdown {
  .menu-items {
    border-top: 1px solid var(--border);
  }
}

.property-card {
  &-next {
    --swiper-navigation-size: 38px;
    width: var(--swiper-navigation-size) !important;
    background-color: white;
    border-radius: 50%;
    color: hsl(var(--primary-300));
    opacity: 0.5;
    transition: all 0.3s ease;

    &::after {
      --swiper-navigation-size: 20px;
    }

    &:hover {
      background-color: var(--primary);
      color: rgb(187, 181, 181);
      opacity: 1;
    }
  }

  &-prev {
    --swiper-navigation-size: 38px;
    width: var(--swiper-navigation-size) !important;
    background-color: white;
    border-radius: 50%;
    color: hsl(var(--primary-300));
    opacity: 0.5;
    transition: all 0.3s ease;

    &::after {
      --swiper-navigation-size: 20px;
    }

    &:hover {
      background-color: var(--primary);
      color: rgb(187, 181, 181);
      opacity: 1;
    }
  }

  &-pagination {
    .swiper-pagination-bullet {
      background: white;
      opacity: 1;

      &-active {
        background: burlywood;
      }
    }
  }
}


// 
.react-player__preview{
  border-radius: 16px;
}
iframe{
  border-radius: 16px;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}


// range slider

  #range {
    position: relative;
    width: 100%;
    height: 10px;
    border-radius: 15px;
    background: #E0E3E6;
  }
  #range .range-slider__range {
    background-color: var(--primary);
  }
  #range .range-slider__thumb {
    pointer-events: auto;
    -webkit-appearance: none;
    appearance: none;
    width: 0.5rem;
    height: 1.25rem;
    background: white;
    border: 1px solid #E0E3E6;
    border-radius: 1rem;
    opacity: 1;
    cursor: e-resize;
  }

  
      .scrollbarthin::-webkit-scrollbar {
        width: 4px;
        height: 10px;
      }
    
      .scrollbarthin::-webkit-scrollbar-track {
        border-radius: 100vh;
        background: var(--primary-light);
      }
    
     .scrollbarthin::-webkit-scrollbar-thumb {
        background: #5c5ef3;
        border-radius: 100vh;      
      }
    
      .scrollbarthin::-webkit-scrollbar-thumb:hover {
        background:var(--primary);
      }
.fc-daygrid-day-top{
  justify-content: center;
}
 .fc-toolbar-title{
  font-weight: 600;
  font-size: 32px;
 }     
 .fc-daygrid-day-events{
  display: none;
 }
 .fc-daygrid-day-bg{
  display: none;
 }
 .fc-header-toolbar{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
 }
// .fc-scroller{
//   overflow: visible !important;
// }