*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #E8F9F8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.s-searchPage{
    padding-top: 40px;
    width: 1000px;
    margin: auto;
}
.searchbar{
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    width: 100%;
    height: 60px;
    background: #fffff5;
    box-shadow: -4px 4px 5px 2px #0000004d;
}
.searchbar form{
    display: flex;
    align-items: center;
    height: 100%;
}
.s-row{
    position: relative;
    height: 70%;
    border-right: solid 1px #cacaca;
}
.s-row input{
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    padding-left: 65px;
    font-size: 17px;
    max-width: 230px;
    font-weight: 500;
}
.s-row input[type="number"]{
    width: 165px;
}
.s-row input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 10px;
    top: 8px;
    font-size: 22px;
}
.s-submit{
    height: 60px;
    color: white;
    width: 190px;
    border: none;
    cursor: pointer;
    background: #FF7D4B;
    font-size: 20px;
    font-weight: bold;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.s-filter{
    background: white;
    border-radius: 10px;
    width: 320px;
    height: 500px;
    padding: 30px 40px;
}
.s-filter-row{
    display: flex;
    height: 50px;
    align-items: center;
}
.s-filter-row label{
    font-size: 13px;
    font-weight: bold;
    width: 230px;
}
.s-filter-row input{
    width: 17px;
    height: 17px;
    cursor: pointer;
    accent-color: #EE5D26;
}
.s-content{
    display: flex;
    margin-top: 65px;
}
.s-f-title{
    display: flex;
    width: 320px;
    padding: 10px 0px 10px 35px;
    position: relative;
    
}
.s-f-title p:first-child{
    font-size: 20px;
    font-weight: bold;
    color: #353755;
}
.s-f-title p:last-child{
    position: absolute;
    right: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #FF7D4B;
}
.s-left-content{
    margin-left: 50px;
    display: flex;
    align-items: end;
    flex-direction: column;
    flex-grow: 1;

}
.s-left-content-desc{
    width: 550px;
    margin-bottom: 30px;
}
.s-left-content-desc p:nth-child(1){
    font-size: 20px;
    font-weight: bold;
    color: #FF7D4B;
    padding-bottom: 5px;
}
.s-left-content-desc p:nth-child(2){
    font-size: 20px;
    font-weight: bold;
    color: #6f6d6d;
    padding-bottom: 5px;
}
.s-left-content-desc p:nth-child(3){
    font-size: 13px;
    font-weight: bold;
    color: #6f6d6d;
}
.s-voyage{
    width: 550px;
    padding: 20px;
    border-radius: 15px;
    background: white;
    margin-bottom: 25px;
    box-shadow: 0 0 10px -2px #03030363;
}
.s-voyage>div{
    display: flex;
}
.s-price{
    display: flex;
    flex-grow: 1;
    justify-content: end;
    padding: 10px 30px;
    font-weight: bold;
    font-size: 16px;
    color: #054752;
}
.s-trajetInfo{
    height: 105px;
    display: flex;
    position: relative;
}
.s-driverInfo{
    display: flex;
}
.s-driverImg{
    width: 105px;
}
.s-driverName{
    font-size: 18px;
    font-weight: 500;
    padding: 12px;
    color: #054752;
}
.s-level{
    display: flex;
}
div.s-level p:first-child{
    background: #e5f6fd;
    border-radius: 10px;
    padding: 5px 10px;
    color: #10b0ef;
    font-size: 16px;
    font-weight: 500;
    margin-right: 15px;
}
div.s-level p:last-child{
    font-weight: bold;
    padding: 0;
    font-size: 18px;
    color: #708c91;
}
.s-nPlace{
    display: flex;
    align-items: end;
    justify-content: end;
    flex-grow: 1;
}
.s-nPlace div{
    height: 30px;
    width: 30px;
    border: solid 3px #054752;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    color: #054752;
    margin: 10px 20px;
}
.s-position{
    margin-bottom: 20px;
}
.s-position h3{
    font-size: 16px;
    color: #054752;
}
.s-position p{
    font-size: 12px;
    font-weight: 500;
    color: #888888;
}
.s-hour{
    margin: 3px 40px 0 10px;
    text-align: end;  
}
.s-hour h3{
    color: #054752;
    font-size: 15px;
}
.s-hour p{
    padding: 13px 0;
    color: #888888;
    font-size: 15px;
    font-weight: bold;
}
.s-trajetInfo hr{
    position: absolute;
    top: 20px;
    left: 68px;
    height: 55px;
    border: solid 2px #054752;
}
.s-trajetInfo::before{
    position: absolute;
    top: 10px;
    left: 65px;
    content: '';
    border: solid 3px #054752;
    width: 6px;
    height: 6px;
    border-radius: 50%;

}
.s-trajetInfo::after{
    position: absolute;
    bottom: 20px;
    left: 65px;
    content: '';
    border: solid 3px #054752;
    width: 6px;
    height: 6px;
    border-radius: 50%;

}